html { font-size: 14px; }

body { font-family: 'Ubuntu', sans-serif; padding-top: 60px; min-width: 300px; }

#title { font-size: 1.3rem; }

.page-title { font-size: 1.4rem; font-weight: bold; margin-bottom: 1rem; }

.week-title { font-size: 1.2rem; font-weight: bold; margin-bottom: .5rem; }
.week-title > .date { font-size: 75%; font-weight: normal; }

.lecture { padding-left: .5rem; padding-right: .5rem; }
.lecture-title { font-size: 1rem; font-weight: bold; border-top: solid 2px lightgray; padding-top: .5rem; }
.lecture-title > .date { font-weight: normal; }

h1 { font-size: 1.4rem; font-weight: bold; margin: .5rem 0; }
h2 { font-size: 1.4rem; font-weight: bold; margin: 1rem 0; }
h3 { font-size: 1.2rem; font-weight: bold; margin: 1rem 0; }
h4 { font-size: 1rem; text-decoration: underline; font-weight: normal; margin: 1rem 0; }

.lab ul, .lab ol { margin: .5rem .75rem; padding: 0 .5rem; }
.lab img { margin: .5rem 0; }

.navbar-nav img.canvas { width: 16px; margin: 0 2px 2px 0; opacity: 0.7; }
.navbar-nav .nav-item:hover img.canvas { opacity: 1; }

code, pre { font-size: 1rem; font-family: Consolas, monaco, monospace; color: black; }
pre { margin: 5px 0; padding: 0; }
pre.equation { margin: 10px; font-family: "Times New Roman", serif; }

ul.main { list-style: none; padding: .5rem; padding-bottom: 0; }
ul.main > li { margin-bottom: .5rem; }
ul.main > li > .title { color: #444; font-weight: bold; }
ul.main > li > .pdfs { font-size: .75rem; white-space: nowrap; }

ul.main > li:before { content: "\1F4CC"; margin-right: 0.1em; }
ul.main > li.pdf:before { content: "\1F4D5"; }
ul.main > li.lab:before { content: "\1F4BB"; }
ul.main > li.chat:before { content: "\1F4AC"; }
ul.main > li.quiz:before { content: "\1F4DD"; }
ul.main > li.zoom:before { display: inline-block; content: ""; background: url(zoom.svg); width: 16px; height: 16px; margin: 0 2px -3px 1px; }

ul.sub { padding-left: 2.6em; list-style: disc; }
ul.sub > li { font-size: .8rem; }
ul.sub ul.sub { padding-left: 1.3rem; }

ul.sub > li.folder { list-style-type: none; } 
ul.sub > li.folder:before { content: "\1F4C1"; margin-left: -1.3rem; } 
ul.sub > li.link { list-style-type: none; } 
ul.sub > li.link:before { content: "\1F517"; margin-left: -1.3rem; } 
ul.sub > li.video { list-style-type: none; } 
ul.sub > li.video:before { content: "\1F4F9"; margin-left: -1.3rem; } 
ul.sub > li.file { list-style-type: none; } 
ul.sub > li.file:before { content: "\1F4BE"; margin-left: -1.3rem; } 
ul.sub > li.quiz { list-style-type: none; } 
ul.sub > li.quiz:before { content: "\1F4DD"; margin-left: -1.3rem; } 
ul.sub > li.midi { list-style-type: none; } 
ul.sub > li.midi:before { content: "\1F3B6"; margin-left: -1.3rem; } 
ul.sub > li.sound { list-style-type: none; } 
ul.sub > li.sound:before { content: "\1F50A"; margin-left: -1.3rem; } 
ul.sub > li.important { list-style-type: none; } 
ul.sub > li.important:before { content: "\1F5E8"; margin-left: -1.3rem; } 
ul.sub > li.submission { list-style-type: none; } 
ul.sub > li.submission:before { content: "\1F4E5"; margin-left: -1.3rem; } 
ul.sub > li.canvas { list-style-type: none; } 
ul.sub > li.canvas:before { display: inline-block; content: ""; background: url(canvas.svg); width: 0.9rem; height: 0.9rem; margin: 0 2px -2px 1px; margin-left: -1.3rem; }
ul.sub > li.zoom { list-style-type: none; } 
ul.sub > li.zoom:before { display: inline-block; content: ""; background: url(zoom.svg); width: 0.9rem; height: 0.9rem; margin: 0 2px -2px 1px; margin-left: -1.3rem; }

a.anchor { display: block; position: relative; top: -70px; visibility: hidden; }
