.itemClass {
border: 15px solid #4267b2;
    border-radius: 1em;
    background-color: #FFFFFF;
    overflow: auto;
    max-width: 450px;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
}


.storyClass {
    float: left;
    padding: 5pt;
    font-size:0.9em;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  width: 100%;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.senderClass {
    vertical-align: middle;
    float: left;
}
.senderContainerClass {
    padding: 5pt;
    font-weight: bold;
    
}

.commentCollapse + input{
  display: none; /* hide the checkboxes */
}
.commentCollapse + input + div{
  display:none;
}
.commentCollapse + input:checked + div{
  display:block;
}

.commentClass{
    white-space:pre-wrap;
    font-size: 0.8em;
    padding: 10px;
    display: block;
    margin: auto;
    overflow: hidden;
    border-top: 50px;
    border: solid #4267b2;
    border-width: 4px 0px 0px 0px;
}
.timeClass {
    font-color: #0000CC;
    padding: 5pt;
    font-style: italic;
}

.imgClass{
    max-width: 80%;
    height: auto;
    display: block;
}
