h2.header {
  color: brown;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
div.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 12px;
  line-height: 1.5;
}
h3.category {
  margin: 16px 0;
}
div.main table.course-list {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffe0;
  color: black;
}
div.main table td, div.main table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
div.main table th {
  background-color: #bdb76b;
  color: white;
}
div.main table td.course-code {
  width: 20%
}
div.main table td.course-content div.course-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
div.main table td.course-content div.course-title div.course-description-trigger {
  padding-right: 4px;
  cursor: pointer;
  font-weight: lighter;
  /* font-size: 20px; */
}
div.main table td.course-content div.course-description {
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
  color: purple;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
div.main table td.course-content div.course-description.active {
  padding-top: 8px;
  transition: opacity 1s;
  visibility: visible;
  opacity: 1;
  height: 100%;
}
div.main table td.course-semester {
  width: 20%;
}
