/*

    Name:       Python IDLE
    Author:     Gibson Lam

*/

.cm-s-idle.CodeMirror { font-family: Consolas, Monospace, sans-serif; font-size: 15px; border: 1px solid black; line-height: 20px; height: auto; }

.cm-s-idle div.CodeMirror-selected { background: #9a9a9a; }
.cm-s-idle .CodeMirror-line::selection, .cm-s-idle .CodeMirror-line > span::selection, .cm-s-idle .CodeMirror-line > span > span::selection { background: #9a9a9a; }
.cm-s-idle .CodeMirror-line::-moz-selection, .cm-s-idle .CodeMirror-line > span::-moz-selection, .cm-s-idle .CodeMirror-line > span > span::-moz-selection { background: #9a9a9a; }

.cm-s-idle span.cm-comment { color: #dd0000; }
.cm-s-idle span.cm-variable,
.cm-s-idle span.cm-variable-2 { color: #000000; }
.cm-s-idle span.cm-keyword { color: #ff7700; }
.cm-s-idle span.cm-builtin { color: #900090; }
.cm-s-idle span.cm-string { color: #00aa00; }
.cm-s-idle span.cm-def { color: #0000ff; }
.cm-s-idle span.cm-error { color: #ff0000; }
