<style>
  title {
  }
  body {
  font-family: Monaco, Helvetica, Arial, sans-serif;
  font-weight: 500;
  }
  h1, h2 {
  color: black;
  text-shadow: 5px 5px 5px #aaa;
  }
  h3 {
  color: #0033FF;
  }
  
  .fancytbl {
  width: 90%; /*800px;*/
  border-collapse: collapse;
  }
  .fancytbl td, .fancytbl th {
  font-size: 1em;
  text-align: center;
  border: 1px solid #8DAAFF;
  padding: 4px 7px 3px 7px;
  }
  .fancytbl th {
  font-size: 1.1em;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 5px;
  background-color: #5C85FF; /* #A7C942;*/
  color: #ffffff;
  }
  .fancytbl tr:nth-child(odd) {
  background-color: #DEE7FF;
  }
  .fancytbl tr:hover {
  background-color: #FFFF99 !important;
  }

  .container{
  width: 100%;
  }
  .header {
/*  background-color: #EBF0FF; */
  padding-left: 5%;
  }
  .sidebar {
  height:100%;
  width: 20%; /*300px;*/
  padding-left: 5%;
  float:left;
  }
  .content {
  width: 70%; /*800px;*/
  padding-left: 1em;
  float:left;
  }
  .remarks {
  width: 70%; /*800px;*/
  padding-left: 1em;
  font-size: large;
  color: black;
  line-height: 1.5;
  float:left;
  }
  .codeblock {
  background-color: #ABABAB;
  border: 1px solid;
  padding: 5px;
  }
  .footer {
  position: fixed;
  background-color: #B8B8B8;
  height: 25px;
  bottom: 0;
  width: 100%;
  text-align: center;
  }
  .highlight:hover {
  background-color: #FFFF99 !important;
  }
</style>
