.reset {
	all: initial;
}
  
 
.ai
{
    background-color: #c7b5dd;
    padding: 12px;
}
.bannerimg
{
    
    
    
    display:block;
    width: 100%;
}

.nav-bar
{
    min-width: 1000px;
    font-size: 1.2em;
        color: #fff;
    background: #4f2b60; /* nav bar background */
    padding: 0;
    margin-left:-1em;
    margin-right:-1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

/* -----------------------
Base styles
------------------------*/

k{
color: #F00;
text-decoration: underline;
}

body
{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #e7e8f0;  /* telegram color */
        font:14px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;

}

img.main_image {
    display: block;
    margin-left: auto;
    margin-right: 0;
    max-width: 40%;
    min-width: 120px;
    height: auto;
    background-size:auto;
}


@media only screen and (max-width: 40em) {
h1 {
    font-size: 1.5em !important;
}
}

#main_body
{
  margin: 0 0;
  padding-left: 1em;
  padding-right: 1em;
   /* min-width: 1000px;*/
  max-width: 100%;
  /*margin-top:20px;*/
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td
{
	padding: .5em 1em;
	vertical-align: middle;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: green; }
a:active { color: red; }

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 100%;
	margin: 0 auto;
}

.header
{
	color: #fff; 
	padding: 0.4em 1em;
	padding-bottom: 4em;
	display: flex;
	margin: -1em;
/*	background-color: aqua;*/
	margin-top: -2.5em;
        /* flex-flow: row nowrap; */ 
	justify-content: space-between;
}

.header-heading { margin: 0; }


.content
{
	padding: 1em 1.25em;
	background-color: #fff;
}

.footer
{
	margin: -1em;
	margin-top: 1em;
	color: #FFFFFF;
	background: #cc8000;
	padding: 1.5em 1.25em;
}



/* -----------------------
Single styles
	padding: 1em 1.25em;
------------------------*/

.img-responsive { max-width: 100%; }

.btn
{
	color: #fff !important;
	background-color: royalblue;
	border-color: #222;
	display: inline-block;
	padding: .5em 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .2em;
	text-decoration: none;
}

.btn:hover
{
	color: #fff !important;
	background-color: green;
}

.btn:focus
{
	color: #fff !important;
	background-color: black;
}

.btn:active
{
	color: #fff !important;
	background-color: red;
}

.table
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.list-unstyled
{
	padding-left: 0;
	list-style: none;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/

/*@media (min-width: 42em)
{*/
	.header { padding-top: 1.5em; }
	.nav-bar { padding: 1.5em 0;}
	/*
	.nav-bar { padding: 1em 3em; }
	.footer { padding: 2em 3em; }
	*/
	.content { padding: 2em 3em; }
	.footer { padding: -3em -3em; }
	
	.nav li
	{
		display: inline;
		margin: -1em 0 0 0;
	/*
		margin: 0 1em 0 0;
	*/
	}
	
	.nav a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
/*}*/

/**responsive table image
**/

  table.people td{
  	padding: 0;
  }
  table.people img{
  	width: 100%;
  	height: auto;
  	display: block;
  	max-width: 150px;
  }

object.selftestcontent {
   width: 78%;
   min-height: 600px;
   display:block;
   position: relative; 
}
