div.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  -webkit-animation: hide-loading-icon 2s linear forwards;
  animation: hide-loading-icon 2s linear forwards;
}
@keyframes hide-loading-icon {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; max-height: 0; }
}
@-webkit-keyframes hide-loading-icon {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; max-height: 0; }
}
@-moz-keyframes hide-loading-icon {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; max-height: 0; }
}
@-o-keyframes hide-loading-icon {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; max-height: 0; }
}
div.loading-wrapper div.loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: spin-loading-icon 2s linear infinite;
  animation: spin-loading-icon 2s linear infinite;
}
@keyframes spin-loading-icon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin-loading-icon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes spin-loading-icon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes spin-loading-icon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
