div.main {
  flex-direction: column;
  gap: 24px;
  padding: 0 14px;
  line-height: 1.5;
  display: flex;
  -webkit-animation: show-main 3s linear forwards;
  animation: show-main 3s linear forwards;
}
@keyframes show-main {
  0% { max-height: 0; opacity: 0; }
  40% { max-height: 100vh; opacity: 0; }
  100% { max-height: 100vh; opacity: 1; }
}
@-webkit-keyframes show-main {
  0% { max-height: 0; opacity: 0; }
  40% { max-height: 100vh; opacity: 0; }
  100% { max-height: 100vh; opacity: 1; }
}
@-moz-keyframes show-main {
  0% { max-height: 0; opacity: 0; }
  40% { max-height: 100vh; opacity: 0; }
  100% { max-height: 100vh; opacity: 1; }
}
@-o-keyframes show-main {
  0% { max-height: 0; opacity: 0; }
  40% { max-height: 100vh; opacity: 0; }
  100% { max-height: 100vh; opacity: 1; }
}

div.main h2.header {
  color: brown;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

div.main h3.common-title {
  margin: 16px 0;
  font-style: italic;
}

div.main h4.closing {
  font-style: italic;
  text-align: end;
}
