div.notice-board {
  overflow-y: scroll;
  max-height: 20vh;
  max-width: 100%;
  background-color: #000000;
  color: #8ae234;
  padding: 12px 16px;
  font-family: courier;
  line-height: 1.8;
  overflow-x: scroll;
  white-space: nowrap;
}
div.notice-board div.daily-notice {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
div.notice-board div.daily-notice div.date {
  font-style: italic;
  width: 15%;
  white-space: normal;
  word-wrap: break-word;
}
div.notice-board div.daily-notice div.daily-log-list {
  width: calc(85% - 24px);
}
div.notice-board div::selection {
  background: #0080FF;
  text-shadow: none;
}
