[flake8]
per-file-ignores =
    pa2*.py:E266,F401,E402   # ###, unused import, import not at-top
    test_*.py:F403,F405      # star-import and use things in star-import
max-line-length = 90
extend-ignore =
    E203                     # whitespaces around slice indices (the colon : sign)