/** Interactive Python Programming page **/
/* body { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; color: black; background: #009f3b; } */
div.content { width: 760px; background: white; margin: 10px; margin-left: auto; margin-right: auto; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px black; }

h1, h2, h3 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }
h1 { font-weight: bold; text-align: left; font-size: 24px; padding: 0; padding-bottom: 10px; border-bottom: 5px solid lightgray; }
h2 { font-weight: bold; font-size: 20px; padding: 5px 0; padding-left: 5px; }
h3 { font-weight: normal; font-size: 18px; }

p, li { font-size: 16px; line-height: 150%; }

a { font-family: Arial, sans-serif; font-weight: bold; font-size: 14px; color: black; text-decoration: none; }
    a:hover { text-decoration: underline; }

img.cover { float: left; margin-right: 20px; border: 1px solid #009f3b; } 
div.title, div.authors { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }
div.title { font-size: 32px; margin-bottom: 10px; }
div.authors { font-size: 20px; font-weight: bold; margin-bottom: 20px; }

table.details { empty-cells: show; border-collapse: collapse; }
    table.details th { text-align: left; padding-right: 20px; font-weight: normal; }

div.nav { text-align: center; color: white; margin: 20px 0; padding: 5px 0; border-radius: 5px; background: #009f3b; }
    div.nav a { color: white; padding: 0 10px; }

table.errata { empty-cells: show; border-collapse: collapse; }
    table.errata th { vertical-align: top; text-align: left; padding-right: 20px; white-space: nowrap; }

ul.chapters { list-style: none; margin: 0; padding: 0; }
a.chapter { font-size: 15px; margin: 0; }

div.displaypane { float: right; width: 400px; }

ul.examples { list-style: none; margin: 0; padding: 0; }
ul.examples li { font-size: 14px; }

div.answers table { empty-cells: show; border-collapse: collapse; }
    div.answers table td { font-size: 14px; vertical-align: top; text-align: left; padding-right: 20px; font-weight: normal; }
    div.answers table td.number { white-space: nowrap; }
div.answers ul { margin: 0; padding: 0; }
div.answers li { font-size: 14px; }

ul.answers span.answer { font-weight: bold; }

#pydialog span.link, #pydialog span.link a { font-size: 11px; }

ul.nobullet { list-style: none; }

code { font-family: Consolas, monaco, monospace; font-weight: bold; }
code.output { color: blue; }
pre { font-family: Consolas, monaco, monospace; }

/** JQuery UI **/
.ui-widget { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; color: #404040; }
.ui-dialog-buttonset { font-size: 14px; }

/** TOC **/
#toc { display: none; }
    #toc li { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; line-height: 150%; margin-top: 0.5em; }
    #toc ul { list-style: none; padding: 0; margin: 0; }
    #toc ul.level2, #toc ul.level3 { margin-left: 30px; }
        #toc ul.level3 li { font-size: 12px; }

