#body { background-color: #fff; color: #000; padding: 0 0 0 0; margin: 0 0 0 0; }

#bg { display: none; }

#bg img { display: none; }

#content { position: absolute; top: 0px; left: 1px; background-color: #fff; z-index: 2; }

#content li { page-break-inside: avoid; }

#navigation { display: none; }

h1, h2, h3, h4 { font: 20px "Arial Black", "Helvetica Bold", sans-serif; color: #666666; }

h1 { font-size: 22px; }

h2 { font-size: 20px; }

h3 { font-size: 18px; }

h4 { font-size: 14px; }

body { font: 12px/130% "Verdana", "Helvetica", sans-serif; }

table { font: 12px/130% "Verdana", "Helvetica", sans-serif; }

address { font-size: 10px; }

.date { font-size: 10px; }

a:link { color: #666666; }
a:visited { color: #666666; }
a:hover { font-weight: bold; }
a:active { color: red; font-weight: bold; }

img { border: 0; }
