body 
{
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	font: normal 12px "Verdana";
}

/* Links */

a:link, a:visited { color: #335577; border-bottom: 1px solid #335577; text-decoration: none; }

a:hover, a:active { color: #CC0000; border-bottom: 3px double #CC0000; text-decoration: none; }

/* Html Elements */

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 10px 0; padding: 10px 0 0px 0; }

h1 { font-size: 32px; }

h2 { font-size: 28px; }

h3 { font-size: 22px; }

h4 { font-size: 20px; }

h5 {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.2px;
}

h6 
{ 
	font-size: 13px; 
	margin: 5px 0; 
	font-weight: bold; 
	padding: 0;
}

ul { line-height: 1.8em; list-style-type: circle; color: #333333; }

ol { line-height: 1.8em; color: #333333; }

blockquote
{
	color: #555555;
	background-color: #eeeeee;
	border: 1px solid #cfcfcf;
	padding: 0px 10px; 
	margin: 10px 20px;
}

code { font-family: "Courier New"; }

abbr, acronym { font-style: normal; border-bottom: 1px dotted #333333; cursor: help; }

em { font-style: italic; }

strong { font-weight: bold; }

del { text-decoration: line-through; color: #555555; font-size: 11px; }

ins { text-decoration: none; color: #679b3c; }

cite
{
	font-family: Verdana;
	font-size: 12px;
	font-style: italic;
}

table {
	padding: 10px 0px;	
}

td {
	vertical-align: top;
	padding: 1px 5px;
	border-collapse: collapse;
	border-bottom: 1px dotted #666666;
}

tr {
	border-collapse: collapse;
	border: 3px solid #333333;
}

th {
	text-align: left;
	font-weight: bold;	
	vertical-align: top;
	padding: 0px 5px;
	border-collapse: collapse;
	border-bottom: 1px dotted #666666;
}

/* Structure */

#container
{
	width: 800px;
	margin: 0 auto;
}

#header
{
	width: 100%;
	padding:15px 0;
	margin: 0;
}

#navigation
{
	width: 100%;
	padding: 0;
	margin: 0;
}

#content
{
	width: 750px;
	padding: 30px 10px 40px 10px;
	margin: 0;
	line-height: 1.6em;
}

#footer
{
	clear: both;
	float: left;
	width: 100%;
	color: #666666;
	text-align: left;
	padding: 10px 0;
	border-top: 1px solid #333333;
	font-size: 10px;
}

#leftfooter { float: left; } 
#rightfooter { float: right; } 

/* Navigation */

#navigation ul
{
	margin: 0 5px;
	float: left;
	width: 95%;
	padding: 2px 0;
	list-style-type: none;
	font-size: 11px;
	background-color: #333333;
}

#navigation li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0;
}

#navigation a:link,
#navigation a:visited
{
	float: left;
	display: block;
	color: #ffffff;
	padding: 0 10px;
	border: 1px solid #333333;
	text-decoration: none;
}

#navigation a:hover,
#navigation a:active
{
	color: #f9f9f9;
	background-color: #557799;
	border-color: #7799bb;
	text-decoration: none;
}

/* Header */

#header {
	font-size: 18px;
	color: #666666;
}

#header .title {
	margin-left: 10px;
	margin-bottom: 0;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	font-size: 30px;
	padding-right: 20px;
}

/* Footer */

#footer a:link,
#footer a:visited {
	text-decoration: none;
	border: none;
}

#footer a:hover,
#footer a:active {
	color: #333333;
	text-decoration: none;
	border: none;
}