body { font-family: Arial, sans-serif; color: #404040; margin-top: 0; }

h1 { font-size: 32px; width: 100%; background: #ffffcc; margin-top: 0; padding: 0; border-bottom: 2px solid #cccc00; font-weight: normal; }
    h1 .lab { color: #404040; padding: 10px 15px 0; display: block; }
    h1 .title { color: #ff0000; font-size: 80%; padding: 0 15px 10px; display: block; }
h2 { font-size: 24px; color: #cc4040; border-bottom: 1px dotted #cc4040; }
h3 { font-size: 20px; color: #404040; }
h4 { font-size: 18px; }

ul { margin: 0; padding-left: 20px; }
ol { margin: 0; padding-left: 25px; }
    li { font-size: 16px; line-height: 1.8em; }

p, pre { line-height: 1.4em; }
pre { padding: 10px; border: 1px solid #cccc00; background: #ffffee; width: 50em; }
    pre .comment { color: green; }
    pre .r { color: red; }
    pre .g { color: green; }
    pre .b { color: blue; }

table { margin: 1em 0; empty-cells: show; border-collapse: collapse; }
    table tr.even { background: #ffffee; }
    table th, table td { padding: 5px; }
table.simple { border: solid 1px gray; }
    table.simple th, table.simple td { border: solid 1px gray; }
table.noborder { border: none; }
    table.noborder th, table.noborder td { border: none; }

img { border: none; }

.box { border: 1px solid #cccc00; background: #ffffee; }
