.python .string { color: #00AA00; font-weight: normal }
.python .keyword { color: #FF7700; font-weight: normal }
.python .comment { color: #DD0000; font-weight: normal }
.python .built_in { color: #900090 ; font-weight: normal}
.python .title { color: #0000FF; font-weight: normal }
blockquote { margin-right: auto; min-width: 400px; }
.vbscript .string { color: #000000; font-weight: normal }
.vbscript .number { color: #000000; font-weight: normal }
.vbscript .comment { color: #008200; font-weight: normal; font-style: normal }
.vbscript .nocode { color: #F00; font-family: Times New Roman, Times, serif; font-weight: normal; font-style: italic }
