body {
    display: grid;
    grid-template-areas: 'menu-btn' 'body';
    padding: 0;
    margin: 0;
    /* text-align: justify; */
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana', 'Sans-Serif';
    font-size: 0.9rem;
}

h1, h2, h3, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: large;
}

h3 {
    font-size: larger;
}

h4 {
    font-size: small;
}

.grid-container{
    /*max-width: 1280px;*/
    display: grid;
    padding: 0;
    margin: 0;
    grid-area: body;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

main {
    grid-area: main;
    overflow-x: hidden;
    margin: 0;
    background-color: white;
}

nav{
    margin: 0;
    background-color: #FFF5F1;
    z-index: 10;
}
.nav-wrap{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2ch;
    padding-right: 2ch;

}

.nav-button {
    grid-area: menu-btn;
    padding: 5pt;
    background-color: #205AA7;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    transform: translate3d(0,0,0);
    height: 32px;
}

footer, section {
    padding-top: 1em;
    padding-left: 2ch;
    padding-right: 2ch;
}


/*header, section {*/
/*    border-bottom-width: 0.2em;*/
/*    border-bottom-color: black;*/
/*    border-bottom-style: dashed;*/
/*}*/

header{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2ch;
    padding-right: 2ch;
    background-color: #205AA7;
    color: white;
    grid-area: head;
    height: fit-content;
}

main h2{
    padding: 6pt;
    background-color: #B22222;
    color: white;
}

main h3{
    text-decoration: underline;
    color: #2F4F4F;
}

img{
    height: 200px;
}

.img-wrap{
    height: 200px;
    width: 200px;
    text-align: center;
}

nav h3{
    background-color: inherit;
    color: #880000;
}

nav ul{
    padding: 0;
    border-collapse: collapse;
}

nav li{
    display: block;
    border-bottom: 0.5px dashed darkgrey;
    padding: 4pt;
}

nav > div > article{
    border-bottom: 2px solid white;
}

table {
    border-collapse: collapse;
}

.small-table {
    min-width: 80ch;
}

.table-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table, th, td {
    border: 1px solid #EFEFEF;
}

th, td {
    padding: 8pt;
    padding-left: 2ch;
    padding-right: 2ch;
}

section{
    display: none;
}
