.grid-container {
    grid-template-areas: 'menu main';
    grid-template-columns: fit-content(320px) auto;
    height: 100vh;
    overflow-y: hidden;
    background-color: white;
}

body{
}

main {
    height: 100vh;
}

nav {
    max-height: 100vh;
    width: auto;
    min-width: 30ch;
    height: 100vh;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    display: block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    grid-column: 1;
    grid-row: 1 / span 2;
    position: relative;
    top: 0;
}

.nav-button {
    display: none;
}

table {
    /* min-width: 120ch; */
    width: 100%;
}

section{
    margin-bottom: 2em;
}

#announcements li {
    margin-bottom: 10px;
}