body {
  font-size: 16px;
}

div.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  -webkit-animation: hide-loading-icon 2s linear;
  animation: hide-loading-icon 2s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes hide-loading-icon {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; max-height: 0; }
}
@-webkit-keyframes hide-loading-icon {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; max-height: 0; }
}
@-moz-keyframes hide-loading-icon {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; max-height: 0; }
}
@-o-keyframes hide-loading-icon {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; max-height: 0; }
}
div.loading-wrapper div.loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: spin-loading-icon 2s linear infinite;
  animation: spin-loading-icon 2s linear infinite;
}
@keyframes spin-loading-icon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin-loading-icon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes spin-loading-icon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes spin-loading-icon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.main {
  flex-direction: column;
  gap: 24px;
  padding: 0 14px;
  line-height: 1.5;
  display: flex;
  -webkit-animation: show-main 3s linear;
  animation: show-main 3s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes show-main {
  0% { max-height: 0; opacity: 0; }
  40% { max-height: 100vh; opacity: 0; }
  100% { max-height: 100vh; opacity: 1; }
}
@-webkit-keyframes show-main {
  0% { max-height: 0; opacity: 0; }
  40% { max-height: 100vh; opacity: 0; }
  100% { max-height: 100vh; opacity: 1; }
}
@-moz-keyframes show-main {
  0% { max-height: 0; opacity: 0; }
  40% { max-height: 100vh; opacity: 0; }
  100% { max-height: 100vh; opacity: 1; }
}
@-o-keyframes show-main {
  0% { max-height: 0; opacity: 0; }
  40% { max-height: 100vh; opacity: 0; }
  100% { max-height: 100vh; opacity: 1; }
}

div.main h3.common-title {
  margin: 16px 0;
  font-style: italic;
}

div.main div.notice-board {
  overflow-y: scroll;
  max-height: 20vh;
  max-width: 100%;
  background-color: #000000;
  color: #8ae234;
  padding: 12px 16px;
  font-family: courier;
  line-height: 1.8;
  overflow-x: scroll;
  white-space: nowrap;
}
div.main div.notice-board div.daily-notice {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
div.main div.notice-board div.daily-notice div.date {
  font-style: italic;
  width: 15%;
  white-space: normal;
}
div.main div.notice-board div.daily-notice div.daily-log-list {
  width: calc(85% - 24px);
}
div.main div.notice-board div::selection {
  background: #0080FF;
  text-shadow: none;
}

div.main h2.header {
  color: brown;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
div.main div.category table.courses {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffe0;
  color: black;
}
div.main div.category table td, div.main table th {
  vertical-align: top;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
div.main div.category table th {
  background-color: #bdb76b;
  color: white;
}
div.main div.category table td.course-code {
  width: 20%
}
div.main div.category table td.course-content div.course-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
div.main div.category table td.course-content div.course-title div.course-description-toggle {
  padding-right: 4px;
  cursor: pointer;
  font-weight: lighter;
}
div.main div.category table td.course-content div.course-description {
  font-style: italic;
  font-weight: lighter;
  font-size: 12px;
  color: purple;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 1s ease-out;
  -moz-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
  -ms-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
}
div.main div.category table td.course-content div.course-description--active {
  max-height: 500px;
  -webkit-transition: max-height 1s ease-in;
  -moz-transition: max-height 1s ease-in;
  -o-transition: max-height 1s ease-in;
  -ms-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
}
div.main div.category table td.course-semester {
  width: 20%;
}
div.main h4.closing {
  font-style: italic;
  text-align: end;
}
