body { font-size: 14px; font-family: Arial, sans-serif; background: white; padding: 0; margin: 0; }
h1 { font-size: 32px; width: 100%; background: WhiteSmoke; margin-top: 0; padding: 0; border-bottom: 2px solid #e0e0e0; }
h1 .lab { color: RoyalBlue; padding: 10px 15px 0; font-weight: normal; display: block; }
h1 .title { color: #ff0000; font-size: 26px; padding: 0 15px 10px; display: block; }
h2 { font-size: 24px; color: RoyalBlue; padding: 0 15px; border-bottom: 1px dotted RoyalBlue; }
h3 { font-size: 20px; color: DarkSlateBlue; padding: 0 15px; }
h4 { font-size: 18px; color: black; padding: 0 15px; }
h5 { font-size: 16px; color: black; padding: 0 15px; text-decoration: underline; }

ul { margin: 0 15px; padding-left: 20px; }
ol { margin: 0 15px; padding-left: 20px; }
    li { font-size: 16px; line-height: 1.8em; }
ul.none { list-style: none; }

p, pre { line-height: 1.4em; }


pre { font-size: 14px; padding: 10px; border: 1px solid #e0e0e0; background: #fafafa; width: 53em; }
    pre .comment { color: green; }
    pre .r { color: red; }
    pre .g { color: green; }
    pre .b { color: blue; }
    pre .res { color: mediumblue; }
    pre .todo { font-family: Arial, sans-serif; font-style: italic; color: red; }

table { margin: 1em; empty-cells: show; border-collapse: collapse; }
    table tr.even { background: #f0f0f0; }
    table th, table td { padding: 5px; vertical-align: baseline; }
    table td.caption { font-weight: bold; }
table.simple { border: solid 1px gray; }
    table.simple th, table.simple td { border: solid 1px gray; }

img { border: none; }

tt { font-family: Arial, sans-serif; font-style: italic; color: black; }
h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, a tt { color: inherit; }

.single { line-height: 1.2em; }
.small { font-size: 12px; }
.footnote { font-size: 12px; font-style: italic; }
.box { border: 1px solid #e0e0e0; background: #fafafa; }
.center { text-align: center; }


.python-code {
    font-family:  "Courier New", Courier;
}

.normal {
    font-family: Arial, sans-serif;
}

.upper-border {
    border-top: 1px dashed gainsboro;
}
#app_index th {
    text-align: left;
}