body {
    font-family: "LatoWeb","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-size: 1.125rem;
    margin: 0 24px;
    margin-bottom: 12px;
}

h1 {
    margin-bottom: 24px;
    padding: 16px 0;
    border-bottom: 1px solid #C7CDD1;
}

h2, h3, h4, h5 {
    font-family: Gill Sans MT, Gill Sans, My Gill Sans, sans-serif;
}

h2 {
    color: #488;
    font-size: 1.75rem;
}

h3, h4 {
    font-size: 1.5rem;
}

h5 {
    font-weight: bold;
}

ul, p {
    line-height: 2rem;
}

p {
    margin: 0 24px;
}

code, pre {
    font-family: Consola, monospace;
    background: #eee !important;
}

code {
    padding: 0 4px;
}

pre {
    width: auto;
    margin: 0 24px;
}

li pre {
    margin: 12px 24px;
}

code.terminal, code.terminal span {
    color: lightgray;
    background: black !important;
    line-height: 1.2;
}

figure {
    margin: 12px 0;
    line-height: 1rem;
}

figcaption {
    font-size: 0.8rem;
    font-style: italic;
}

a {
    color: #008EE2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.toc {
    list-style: none;
    font-family: Gill Sans MT, Gill Sans, My Gill Sans, sans-serif;
    background: #eee;
    margin: 24px;
    margin-top: 12px;
    padding: 12px 24px;
}

.toc a {
    color: black;
}

.toc a[href*="."] {
    padding-left: 18px;
}

table.basic {
    border-collapse: collapse;
    margin-bottom: 1em;
    font-size: 90%;
}
table tr:first-child, table tr:last-child {
    border-bottom: 2px solid #488;
}
table tr:nth-child(even) {
    background: #f8f8f8;
}
table th, table td {
    padding: 5px 10px;
    line-height: 1.5em;
}

/*
p {
    margin: 0 24px;
}

ul {
    list-style: none;
    padding-left: 60px;
    line-height: 50px;
}

li {
    font-size: .875rem;
}

li:before {
    content: "";
    background: url(doc-icons.png) no-repeat -90px -72px;
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    width: 36px;
    margin: 4px 0;
    margin-left: -36px;
}

li.html:before { background: url(doc-icons.png) no-repeat -90px -71px; }
li.js:before { background: url(doc-icons.png) no-repeat -150px -71px; }
li.css:before { background: url(doc-icons.png) no-repeat -211px -71px; }
li.jpg:before { background: url(doc-icons.png) no-repeat -30px -19px; }
li.png:before { background: url(doc-icons.png) no-repeat -90px -19px; }
li.zip:before { background: url(doc-icons.png) no-repeat -272px -125px; }
*/
